name: Daily Calendar Sync

on:
  schedule:
    - cron: '0 6 * * *' # Runs at 11:00 AM Pakistan Time (06:00 UTC)
  workflow_dispatch:    # Allows you to click a button to run it manually

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Script
        env:
          CANVAS_API_URL: ${{ secrets.CANVAS_API_URL }}
          CANVAS_API_KEY: ${{ secrets.CANVAS_API_KEY }}
        run: python canvas_full_sync.py

      - name: Commit and Push
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add *.ics
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Calendar" && git push)
